DB_CONNECTION_STRING_WAREHOUSE="clickhouse://username:password@localhost:5432/banditdb"
WAREHOUSE_BANDIT_DATA_TABLE="bandit_input_per_theme"
DB_CONNECTION_STRING_PARAMS="postgresql://username:password@localhost:5432/banditdb"
BANDIT_DATA_TABLE="bandit_data"

BANDIT_ALPHA=0.5
BANDIT_RIDGE_LAMBDA=1.0