# User Database
USER_CRUD_DB=music_streaming
USER_CRUD_USER=postgres
USER_CRUD_PASSWORD=postgres
USER_CRUD_PORT=5432
USER_CRUD_CONNECTION_STRING=postgresql://postgres:postgres@database-postgres-user:5432/music_streaming

# User Database Crud / JWT Configuration
USER_CRUD_JWT_PROVIDER_NAME=ms-backend
JWT_STORE_PATH=jwt/gateway
JWT_TIME_IN_M_NORMAL=10
JWT_TIME_IN_D_REFRESH=10
JWT_TIME_IN_M_SERVICE=2

# MinIO File Storage
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=database-minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET_NAME=music-streaming
MINIO_USE_SSL=false

# Clickhouse
CLICKHOUSE_DB=default
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_PORT_TCP=9002
CLICKHOUSE_PORT_HTTP=8123
CLICKHOUSE_CONNECTION_STRING=clickhouse://clickhouse:clickhouse@database-clickhouse:9000/default

# Bandit Database
BANDIT_DB=bandit
BANDIT_USER=postgres
BANDIT_PASSWORD=postgres
BANDIT_PORT=5433
BANDIT_CONNECTION_STRING=postgresql://postgres:postgres@database-postgres-bandit:5432/bandit

# Bandit System Configuration
WAREHOUSE_BANDIT_DATA_TABLE=bandit_input_per_theme
BANDIT_DATA_TABLE=bandit_data
BANDIT_ALPHA=0.5
BANDIT_RIDGE_LAMBDA=1.0
SHERMAN_MORRISON_RECOMPUTE_INTERVAL=100
SHERMAN_MORRISON_DIVERGENCE_THRESHOLD=1e-6

# Gateway API
GATEWAY_API_PORT=8080
USER_DATABASE_SERVICE_URL=http://service-user-database:8080
RECOMMENDATION_SERVICE_URL=http://gateway-recommendation:8002
EVENT_INGESTION_SERVICE_URL=http://service-event-ingestion:8080

# Gateway Recommendation
GATEWAY_RECOMMENDATION_PORT=8002
POPULARITY_SERVICE_URL=http://service-popularity:8080
BANDIT_SERVICE_URL=http://service-bandit:8001

# Frontend
FRONTEND_PORT=3000

# Environment
ENVIRONMENT=development

# Vault
VAULT_TOKEN=root