# User Database
USER_CRUD_DB=music_streaming
USER_CRUD_USER=postgres
USER_CRUD_PASSWORD=postgres
USER_CRUD_PORT=5432
USER_CRUD_CONNECTION_STRING="postgresql://${USER_CRUD_USER}:${USER_CRUD_PASSWORD}@localhost:${USER_CRUD_PORT}/${USER_CRUD_DB}"

# User Database Crud
USER_CRUD_JWT_PROVIDER_NAME="ms-backend"
JWT_STORE_PATH="jwt/backend"
JWT_SUBJECT_NORMAL="general"
JWT_TIME_IN_M_NORMAL=10
JWT_SUBJECT_REFRESH="refresh"
JWT_TIME_IN_D_REFRESH=10

# File Storage
FILE_STORAGE_DATA_LOCATION="/data"
FILE_STORAGE_LISTEN_ADDR="127.0.0.1:8000"

# Clickhouse
CLICKHOUSE_DB=default
CLICKHOUSE_USER="clickhouse"
CLICKHOUSE_PASSWORD="clickhouse"
CLICKHOUSE_PORT=9000
CLICKHOUSE_CONNECTION_STRING="clickhouse://${CLICKHOUSE_USER}:${CLICKHOUSE_PASSWORD}@localhost:${CLICKHOUSE_PORT}/${CLICKHOUSE_DB}"

# Bandit Database
BANDIT_DB=bandit
BANDIT_USER="postgres"
BANDIT_PASSWORD="postgres"
BANDIT_PORT=5432
BANDIT_CONNECTION_STRING="postgres://${BANDIT_USER}:${BANDIT_PASSWORD}@localhost:${BANDIT_PORT}/${BANDIT_DB}"