PROVIDER = "ms-backend"

SUBJECT_NORMAL = "general"
SUBJECT_REFRESH = "refresh"

TIME_IN_M_NORMAL = 10
TIME_IN_D_REFRESH = 10

JWT_STORE_PATH = "jwt/backend"

DATABASE_URL = "postgresql://username:password@localhost:5432/music_db"
