USER_CRUD_CONNECTION_STRING="postgresql://postgres:postgres@localhost:5432/music_streaming"
USER_CRUD_JWT_PROVIDER_NAME="ms-backend"
JWT_SUBJECT_NORMAL="general"
JWT_SUBJECT_REFRESH="refresh"
JWT_TIME_IN_M_NORMAL=10
JWT_TIME_IN_D_REFRESH=10
JWT_STORE_PATH="jwt/backend"
VAULT_ADDR=http://localhost:8200
VAULT_TOKEN="root"

# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET_NAME=music-streaming
MINIO_USE_SSL=false

# Event Ingestion Service
EVENT_INGESTION_SERVICE_URL=http://localhost:8080
