CLICKHOUSE_DB=default
CLICKHOUSE_USER="clickhouse"
CLICKHOUSE_PASSWORD="clickhouse"
CLICKHOUSE_PORT=9000
CLICKHOUSE_HOST=database-clickhouse

WAREHOUSE_URL="clickhouse://${CLICKHOUSE_USER}:${CLICKHOUSE_PASSWORD}@${CLICKHOUSE_HOST}:${CLICKHOUSE_PORT}/${CLICKHOUSE_DB}"
TABLE_NAME="popularity_data"
VAULT_ADDR=http://localhost:8200
VAULT_TOKEN="root"
