USER_CRUD_CONNECTION_STRING="postgresql://postgres:postgres@localhost:5432/music_streaming"
USER_CRUD_JWT_PROVIDER_NAME="ms-backend"
JWT_SUBJECT_NORMAL="general"
JWT_SUBJECT_REFRESH="refresh"
JWT_TIME_IN_M_NORMAL=10
JWT_TIME_IN_D_REFRESH=10
JWT_STORE_PATH="jwt/backend"
