GATEWAY_API_PORT=8080
USER_DATABASE_SERVICE_URL=http://localhost:8080
RECOMMENDATION_SERVICE_URL=http://localhost:8002
EVENT_INGESTION_SERVICE_URL=http://localhost:8080
JWT_STORE_PATH="jwt/gateway"
JWT_TIME_IN_M_SERVICE=2
VAULT_ADDR=http://localhost:8200
VAULT_TOKEN="root"
