CLICKHOUSE_DB=default
CLICKHOUSE_USER="clickhouse"
CLICKHOUSE_PASSWORD="clickhouse"
CLICKHOUSE_PORT=8123
BANDIT_DB=bandit
BANDIT_USER="postgres"
BANDIT_PASSWORD="postgres"
BANDIT_PORT=5433

DB_CONNECTION_STRING_WAREHOUSE="clickhouse://${CLICKHOUSE_USER}:${CLICKHOUSE_PASSWORD}@localhost:${CLICKHOUSE_PORT}/${CLICKHOUSE_DB}"
WAREHOUSE_BANDIT_DATA_TABLE="bandit_input_per_theme"
DB_CONNECTION_STRING_PARAMS="postgresql://${BANDIT_USER}:${BANDIT_PASSWORD}@localhost:${BANDIT_PORT}/${BANDIT_DB}"
BANDIT_DATA_TABLE="bandit_data"

BANDIT_ALPHA=0.5
BANDIT_RIDGE_LAMBDA=1.0

SHERMAN_MORRISON_RECOMPUTE_INTERVAL=100
SHERMAN_MORRISON_DIVERGENCE_THRESHOLD=1e-6